@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,600,700,800');

h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

html {
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #e5e5e5;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.description {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 29.26px;
  color: #333333;
}

.btn {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #ff9900;
  color: white;
  border: none;
}

.heading {
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: 58.51px;
  color: #333333;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

/* Header */

.header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: #ffffff;
}

.header__container {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.hamb {
  display: none;
}

.header__logo-img {
  width: 224px;
  height: 72px;
}

.header__nav {
  display: flex;
}

.header__nav {
  display: flex;
}

.menu {
  display: flex;
}

.header__menu-item-link {
  margin-right: 85px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  color: #333333;
}

.popup {
  display: none;
}

/* Hero */

.main {
  background-color: #e5e5e5;
  margin-top: 100px;
}

.swiper {
  width: 100%;
  height: 620px;
}

.hero__content {
  position: absolute;
  padding: 100px 80px;
  width: 50%;
}

.hero__content {
  position: absolute;
  z-index: 3;
}

.hero__content-title {
  font-size: 70px;
  font-weight: 800;
  font-style: normal;
  line-height: 85.33px;
  color: #ffffff;
}

.hero__content-description {
  margin-top: 24px;
  color: #ffffff;
}

.hero__content-btn {
  margin-top: 90px;
  width: 280px;
  height: 78px;
  font-style: normal;
  font-size: 23, 46px;
  font-weight: 700;
  line-height: 28, 6px;
}

.swiper {
  position: fixed;
}

.swiper-slide {
  z-index: 1;
  position: absolute;
  background-size: cover;
}

/* About Us */

.about-us {
  margin-top: 100px;
}

.about-us__heading {
  margin-left: 2px;
}

.about-us__text {
  margin-top: 20px;
  width: 70%;
}

.about-us__cards {
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
  width: 100%;
}

.about-us__card-left {
  position: relative;
  width: 862px;
  height: 622px;
  background-size: 100% cover;
}

.about-us__card-left-content {
  padding: 50px 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-us__card-left-content-text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  width: 60%;
}

.about-us__card-left-content-btn {
  padding: 19px 38px;
  width: 175px;
  height: 60px;
  background: transparent;
  border: 3px solid #ff9900;
  box-sizing: border-box;
}

.about-us__cards-right {
  height: 622px;
}

.about-us__cards-right-item {
  display: flex;
  align-items: center;
  width: 870px;
  height: 295px;
  background: #ffffff;
  border: 1px solid #cacaca;
}

.about-us__cards-right-item:not(:last-child) {
  margin-bottom: 29px;
}

.about-us__cards-right-item-img {
  width: 190px;
  height: 165px;
  margin: 0 50px 0 60px;
}

.about-us__cards-right-item-text {
  margin-top: 8px;
  width: 70%;
}

/* How we work */

.how-we-work {
  margin-top: 100px;
}

.how-we-work__tab-nav {
  margin-top: 50px;
  display: flex;
}

.how-we-work__tab-nav-item {
  cursor: pointer;
}

.activeTabNavItem {
  color: #e1670e;
}

.how-we-work__tab-nav-item:not(:last-child) {
  margin-right: 85px;
}

.how-we-work__tab-content {
  margin-top: 45px;
  position: relative;
  height: 460px;
}

.how-we-work__tab-content-item {
  display: none;
}

.activeTabContent {
  display: flex;
}

.how-we-work__tab-content-item-left {
  width: 50%;
}

.how-we-work__tab-content-item-left-text {
  margin-top: 8px;
  width: 85%;
}

.how-we-work__tab-content-item-right {
  background-size: cover;
  width: 50%;
  height: 100%;
}

.how-we-work__tab-content-item-right-img {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-height: 460px;
  margin-left: auto;
}

.how-we-work__tab-content-btn {
  position: absolute;
  left: 0;
  bottom: 0;
}

.how-we-work__tab-content-btn-more {
  margin-right: 32px;
  width: 175px;
  height: 60px;
}

.how-we-work__tab-content-btn-contract {
  cursor: pointer;
  width: 147px;
  height: 60px;
  font-size: 16px;
  line-height: 19.5px;
  background: transparent;
  border: 1px solid #333333;
}

/* Quest */

.quest {
  margin-top: 100px;
}

.quest-heading {
  margin-bottom: 32px;
}

.accordion__item {
  position: relative;
  border-top: 1px solid #cacaca;
}

.accordion__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.accordion__item-title {
  align-items: center;
  height: 110px;
  position: relative;
  cursor: pointer;
}

.accordion__item-title-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.accordion__item-title-img {
  background-image: url(../img/quest__cross.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: cover;
  top: 25%;
  right: 0;
  transition: transform 0.2s ease-in-out;
}

.accordion__item.active .accordion__item-title .accordion__item-title-img {
  transform: rotate(45deg);
}

.accordion__item-answer {
  display: none;
  transition: display 0.2s ease-in-out;
}

.accordion__item.active .accordion__item-answer {
  display: block;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .hamb__bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 7px;
    background-color: #333333;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 3;
    display: flex;
    transition: 0.3s;
  }
  .open {
    left: 0%;
  }
  .popup .menu {
    display: block;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: 40px;
  }
  /* .hamb__field .active .hamb__bar:ntn-child(2) {
    opacity: 0;
  }
  .hamb__field .active .hamb__bar:ntn-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field .active .hamb__bar:ntn-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  } */
  body.noscroll {
    overflow: hidden;
  }
}
